In [1]:
import pandas as pd
from pandas import Series

In [3]:
obj=pd.Series([2,4,5,8])

print(obj,'\n')
print(obj.values,'\n')
print(obj.index,'\n')

0    2
1    4
2    5
3    8
dtype: int64

[2 4 5 8]

RangeIndex(start=0, stop=4, step=1)

In [4]:
obj2=pd.Series([2,6,2,8],index=['dog','boy','a','b'])

print(obj2,'\n')
print(obj2.index,'\n')
print(obj2['a'],'\n')

dog    2
boy    6
a      2
b      8
dtype: int64

Index(['dog', 'boy', 'a', 'b'], dtype='object')

2

In [6]:
# Series
# Arithmetic operation

first_price=pd.Series({'apple':30,'orange':75,'lemon':25,'melon':40})
print(first_price,'\n')

fruit_label=['banana','apple','lemon','kiwi']
obj4=pd.Series(first_price,index=fruit_label)
print(obj4,'\n')

apple     30
orange    75
lemon     25
melon     40
dtype: int64

banana     NaN
apple     30.0
lemon     25.0
kiwi       NaN
dtype: float64

In [27]:
# Series - Indexing

import numpy as np

obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])

print(obj,'\n')

print(obj['b'],'\n')

print(obj[0],'\n')

print(obj[1:4],'\n')

print(obj[['b','c','d']],'\n')

print(obj[[1,3]],'\n')

print(obj[obj<2],'\n')

print(obj['b':'c'],'\n')

obj[['b','c']]= 5
print(obj,'\n')

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

1.0

0.0

b    1.0
c    2.0
d    3.0
dtype: float64

b    1.0
c    2.0
d    3.0
dtype: float64

b    1.0
d    3.0
dtype: float64

a    0.0
b    1.0
dtype: float64

b    1.0
c    2.0
dtype: float64

a    0.0
b    5.0
c    5.0
d    3.0
dtype: float64

C:\Users\kalok\AppData\Local\Temp\ipykernel_22048\1444924256.py:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(obj[0],'\n')
C:\Users\kalok\AppData\Local\Temp\ipykernel_22048\1444924256.py:17: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(obj[[1,3]],'\n')

### Data Structure -- DataFrame

In [33]:
#DataFrame

from pandas import DataFrame
data = {'item': ['facemask', 'toilet paper', 'hand sanitizer', 'dettol', 'bleach', 'glove'],
'quantity': [0, 1000, 580, 10, 5, 200],
'price': [280, 30, 25, 30.5, 8.9, 32.5]}

df=pd.DataFrame(data)
print(df,'\n')
print(df.head,'\n')
print(df.size,'\n')
print(df['item'].value_counts(dropna=True))

             item  quantity  price
0        facemask         0  280.0
1    toilet paper      1000   30.0
2  hand sanitizer       580   25.0
3          dettol        10   30.5
4          bleach         5    8.9
5           glove       200   32.5

<bound method NDFrame.head of              item  quantity  price
0        facemask         0  280.0
1    toilet paper      1000   30.0
2  hand sanitizer       580   25.0
3          dettol        10   30.5
4          bleach         5    8.9
5           glove       200   32.5>

18

item
facemask          1
toilet paper      1
hand sanitizer    1
dettol            1
bleach            1
glove             1
Name: count, dtype: int64

In [34]:
frame2 = pd.DataFrame(data, 
                      columns=['item', 'price', 'quantity', 'shop'],
                      index=['one', 'two', 'four', 'three','five', 'six'])

frame2

                 item  price  quantity shop
one          facemask  280.0         0  NaN
two      toilet paper   30.0      1000  NaN
four   hand sanitizer   25.0       580  NaN
three          dettol   30.5        10  NaN
five           bleach    8.9         5  NaN
six             glove   32.5       200  NaN

In [45]:
# DataFrame - Access a particular row / column
print(frame2['item'],'\n') #Get column of item
print(frame2.quantity,'\n')

print(frame2.loc['three'],'\n')

frame2['shop']='hktvmall'

print(frame2.loc['three',['quantity','shop']],'\n')

one            facemask
two        toilet paper
four     hand sanitizer
three            dettol
five             bleach
six               glove
Name: item, dtype: object

one         0
two      1000
four      580
three      10
five        5
six       200
Name: quantity, dtype: int64

item          dettol
price           30.5
quantity          10
shop        hktvmall
Name: three, dtype: object

quantity          10
shop        hktvmall
Name: three, dtype: object

In [48]:
#DataFrame - Get a particular entry
print(frame2,'\n')
print(frame2.iat[2,1],'\n') #index
print(frame2.at['five','quantity'])

                 item  price  quantity      shop
one          facemask  280.0         0  hktvmall
two      toilet paper   30.0      1000  hktvmall
four   hand sanitizer   25.0       580  hktvmall
three          dettol   30.5        10  hktvmall
five           bleach    8.9         5  hktvmall
six             glove   32.5       200  hktvmall

25.0

5

In [ ]:
# Categorical

categories = pd.Categorical(['class1', 'class2', 'class3', 'class1', 'class2', 'class4'])
categories

### Sorting and Ranking

In [55]:
obj = pd.Series([7,-5,7,4,2,0,4])
print(obj,'\n')

print(obj.sort_values(),'\n')
print(obj.rank(),'\n')

print(obj.rank(method='min'),'\n')
print(obj.rank(ascending=False, method='max'),'\n')

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

1   -5
5    0
4    2
3    4
6    4
0    7
2    7
dtype: int64

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

0    6.0
1    1.0
2    6.0
3    4.0
4    3.0
5    2.0
6    4.0
dtype: float64

In [57]:
(frame2.sort_values(by='item',inplace=True))
print(frame2)

                 item  price  quantity      shop
five           bleach    8.9         5  hktvmall
three          dettol   30.5        10  hktvmall
one          facemask  280.0         0  hktvmall
six             glove   32.5       200  hktvmall
four   hand sanitizer   25.0       580  hktvmall
two      toilet paper   30.0      1000  hktvmall

In [59]:
# Unique Values, Value Counts, and Membership

obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
uqique=obj.unique()
print(uqique)
uqique.sort()
print(uqique)

['c' 'a' 'd' 'b']
['a' 'b' 'c' 'd']

In [66]:
# Summarizing and Computing Descriptive Statistics 
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
print(df,'\n')
print(df.sum(),'\n')
print(df.sum(axis=0))
print(df.describe())

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

one    9.25
two   -5.80
dtype: float64

one    9.25
two   -5.80
dtype: float64
            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

### Basic data visualization with pandas

In [ ]:
arr = pd.Series([1,2,4,5,7,8,6,7,8])
arr.plot()